*{
    margin: 0;
    padding: 0;

}



body{

    width: 100vw;
    height: 100vh;

    background-image: url('../C_Imagenes/gimasio.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    backdrop-filter: blur(5px);

    
}

header{
    width: 100%;
    height: 80px;
    /*background-color: black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    gap: 30px;  
    list-style: none;
}

a{
    font-size: x-large;
    font-family: cursive;
    color: white;
    padding: 8px;
    border: 5px;
    background-color: black;
}

.inicio {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: /*Arriba y abajo*/10px   /*Derecha e izquierda*/50px;
    max-width: 1200px;
    margin: 15px auto;
    background-color: black;
    gap: 40px;
    font-size: larger;
    
} 

.logo-izquierda {
    width: 400px;
    height: 250px;
}